<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
<!DOCTYPE html> -->
<html lang="en">

<head>
  <title>Welcome to SSC Hub</title>
  <!-- width=device-width part sets the width of the page to follow the screen-width of the device -->
  <!-- initial-scale=1 part sets the initial zoom level when the page is first loaded by the browser -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"
    integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
    integrity="sha512-0SPWAwpC/17yYyZ/4HSllgaK7/gg9OlVozq8K7rf3J8LvCjYEEIfzzpnA2/SSjpGIunCSD18r3UhvDcu/xncWA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="js/bootstrap.bundle.min.js"></script>

  <script src="javascripts/form.js"></script>

  <style>
    .test {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="https://hkust.edu.hk" class="d-flex align-items-center mb-3 mb-md-0 p-2 text-dark text-decoration-none">
        <img src="/images/ust.svg" alt="HKUST" width="160" height="50" />
      </a>
      <a href="https://ssc.hkust.edu.hk/"
        class="d-flex align-items-center mb-3 mb-md-0 p-2 text-dark text-decoration-none">
        <img src="/images/SSC Logo.png" alt="SSC Hub" width="177.5" height="50" />
      </a>

      <ul class="ms-auto p-2 nav nav-pills">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">About</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      </ul>
    </header>
  </div>
  <div class="container p-5 my-5 border">
    <h1 class="display-5">Post your message to SSC Hub</h1>
    <hr />
    <p>
      Greetings! We are excited to welcome you back on campus on September
      1st. As the new academic year commences, the owl from the Sustainable
      Smart Campus (SSC) is bringing to you the letter of invitation for the
      opening of the SSC Hub.
    </p>
    <p>
      Visit us at the SSC Hub between Passion and Science Wisdom Corner,
      explore the multitude of ideas and innovation bubbling in the SSC
      cauldron!
    </p>
  </div>
  <div class="container p-5 mb-5 border">
    <form ref="postForm" id="postForm" action="/post/create" method="POST" enctype="multipart/form-data">
      <div class="d-flex align-items-center row mb-4 mt-4">
        <label for="message" class="col-lg-2 col-form-label align-middle">
          Message (*)<br />
          <small>(max: 100 words)<br />
            <hr />
            word count: <span id="word-count">0</span> / 100
          </small>
        </label>
        <div class="col-lg-10">
          <textarea class="form-control" id="message" name="message" rows="6" placeholder="Share your story with everyone through SSC Hub! :D
                    "></textarea>
        </div>
      </div>
      <hr />
      <div class="d-flex align-items-center row mb-4 mt-4">
        <label for="attachment" class="col-lg-2 col-form-label align-middle">
          Attachment<br />
          <small>
            <ul>
              <li>allowed extensions: .jpg, .png</li>
              <li>max photo size: 0000 x 000</li>
            </ul>
          </small>
        </label>
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="formFile" class="form-label">Attach Image</label>
            <input class="form-control form-control-sm" type="file" id="formFile" name="image"
              accept=".png,.jpg,.jpeg" />
          </div>
        </div>
        <label class="form-label col-lg-2">Attachment Preview</label>
        <div class="col-lg-4">
          <img src="" id="preview" class="img-thumbnail" style="max-width: 120px" alt="Please select a valid file" />
        </div>
      </div>
      <hr />
      <div class="row mb-4">
        <label for="nickname" class="col-sm-2 col-form-label">Nickname</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="nickname" name="nickname" />
        </div>
        <label for="nickname" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
          <input type="email" class="form-control" id="email" name="email" />
        </div>
      </div>
      <hr />
      <input type="hidden" name="parent_board_id" value="<%= data.board_id %>">
      <div class="mt-5">
        <button type="button" class="btn btn-secondary">Preview</button>
        <button type="submit" id="submit_button" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <!-- <div class="container p-5 my-5 bg-primary text-white">
      <h1><small>My</small> First Boostrap Page</h1>
      <p class="h6">This part is inside a .container class.</p>
      <p>The .container class provides a responsive fixed width container</p>
    </div>
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div> -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#007aff"></rect>
        </svg>
        <strong class="me-auto">SSC HUB</strong>
        <small>a few seconds ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Congrat! Your message is well received. We'll process your message as soon as possible.
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="cropImageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Crop your image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="d-flex justify-content-center" id="spinner">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div class="modal-body">
          <div style="width: 100%;">
            <img id="crop_img_tool" class="test" src="">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="crop_cancel">Close</button>
          <button type="button" class="btn btn-primary" id="crop_done">Crop</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>