<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	<title>Login</title>
	<!-- the form awesome library is used to add icons to our form -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<!-- include the stylesheet file -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/login.css" rel="stylesheet" type="text/css">


	<script src="js/bootstrap.bundle.min.js"></script>

	<script>
		window.onload = (event) => {
			const toastLiveExample = document.getElementById('liveToast')
			const badLogin = document.getElementById('liveToast2')

			console.log(location.href.split('/')[3] == 'login?signout');
			if (location.href.split('/')[3] == 'login?signout') {
				const toast = new bootstrap.Toast(toastLiveExample);
				toast.show();
			} else if (location.href.split('/')[3] == 'login?bad') {
				const toast = new bootstrap.Toast(badLogin);
				toast.show();
			}
		};
	</script>
</head>

<body>
	<div class="container">
		<div class="login">
			<h1>Login</h1>
			<form action="/login/auth" method="post">
				<label for="username">
					<!-- font awesome icon -->
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<input type="submit" value="Login">
			</form>
		</div>

		<div class="toast-container position-fixed top-0 end-0 p-3">
			<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<svg class="bd-placeholder-img rounded me-2" width="20" height="20"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
						focusable="false">
						<rect width="100%" height="100%" fill="#007aff"></rect>
					</svg>
					<strong class="me-auto">SSC HUB</strong>
					<small>a few seconds ago</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					You have succefully signed out!
				</div>
			</div>
			<div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<svg class="bd-placeholder-img rounded me-2" width="20" height="20"
						xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
						focusable="false">
						<rect width="100%" height="100%" fill="#f44336"></rect>
					</svg>
					<strong class="me-auto">SSC HUB</strong>
					<small>a few seconds ago</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">
					Invalid username or password. <br/>
					Please try again...
				</div>
			</div>
		</div>
	</div>
</body>

</html>