<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/mainboard.css">
  </head>
  <body>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="javascripts/mainboard.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <div class="container">
      <div class="row justify-content-end">
          <div class ="col-lg-6 col-md-6 col-sm-6 title">
                <h1> SSC HUB </h1>
                <h2>MESSAGE BOARD TITLE</h2>
                <div class = "row">
                  <div class="col-lg-6 col-md-6 title">
                    <img src ="/images/ust.svg" class="card-img" style="width:15vw">
                  </div>
                  <div class="col-lg-6 col-md-6 title"> <img src ="/images/mainboard/SSC Logo.png" class="card-img" style="width: 15vw%"></div>
                </div>  
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 content-card ">
              <div class="card-big-shadow">
                <div class="card" data-background="color" data-color="blue" data-radius="none">
                <img src="/images/mainboard/wave.jpg" class="card-img-top" alt="card image">
                  <div class="content">
                            <p class="description">A raised line of water that moves across the surface of an area of water, especially the sea: </p> </p>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="card-footer bg-transparent text-muted small pt-0 border-top-0 px-0">
                    <i class="material-icons" style="font-size: 1.5vh"> account_circle</i> hyunju <i class="material-icons" style="font-size: 1.5vh"> mail</i> hyunju@connect.abc.com
                </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 content-card">
              <div class="card-big-shadow">
                  <div class="card" data-background="color" data-color="green" data-radius="none">
                      <div class="content">
                          <p class="description">Here's to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do. </p>
                      </div>
                  </div> <!-- end card -->
              </div>
              <div class="card-footer bg-transparent text-muted small pt-0 border-top-0 px-0">
                <i class="material-icons" style="font-size: 1.5vh"> account_circle</i>  Rob Siltanen
            </div>
          </div>
       </div>
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 content-card">
            <div class="card-big-shadow">
                <div class="card" data-background="color" data-color="blue2" data-radius="none">
                    <div class="content">
                        <p class="description">Be the change that you wish to see in the world. </p>
                    </div>
                </div> 
                <!-- end card -->
            </div>
            <div class="card-footer bg-transparent text-muted small pt-0 border-top-0 px-0">
                <i class="material-icons" style="font-size: 2vh"> account_circle</i> Gandhi <i class="material-icons" style="font-size: 2vh"> mail</i> gandhi@connect.ust.hk
            </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-3 content-card">
            <div class="card-big-shadow">
                <div class="card" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <img src="/images/mainboard/cat-vert.jpg" class="card-img-top" alt="card image">
                        <p class="description">For the vertical images, the message would look like this.  </p> </p>

                    </div>
                </div> <!-- end card -->
            </div>
            <div class="card-footer bg-transparent text-muted small pt-0 border-top-0 px-0">
                <i class="material-icons" style="font-size: 2vh"> account_circle</i> vertical images
            </div>
        </div>
      
        <div class="col-lg-3 col-md-3 col-sm-3 content-card">
              <div class="card-big-shadow">
                  <div class="card" data-background="color" data-color="blue1" data-radius="none">
                      <div class="content">
                        <img src="/images/mainboard/flower-sqr.png" class="card-img-top" alt="card image">
                          <p class="description">The square photos would look like this on the message board. Here will be the content of the card.</p>
                     </div>
                  </div> <!-- end card -->
              </div>
              <div class="card-footer bg-transparent text-muted small pt-0 border-top-0 px-0">
                <i class="material-icons" style="font-size: 2vh"> account_circle</i> square <i class="material-icons" style="font-size: 2vh"> mail </i> square@connect.ust.hk
            </div>
          </div>

        <div class="col-lg-3 col-md-3 col-sm-3 content-card">
            <div class="card-big-shadow">
                <div class="card" data-background="color" data-color="blue2" data-radius="none">
                    <div class="content">
                        <p class="description">Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover. </p>
                    </div>
                </div> <!-- end card -->
              </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 content-card">
          <div class="card-big-shadow">
              <div class="card" data-background="color" data-color="green" data-radius="none">
                  <div class="content">
                      <a> </a><i class="fa fa-trash-o "></i></a>
                      <p class="description">Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover. </p>
                  </div>
              </div> <!-- end card -->
            </div>
      </div>

          <div class="col-lg-3 col-md-3 col-sm-3 content-card">
                <div class="card-big-shadow">
                    <div class="card" data-background="color" data-color="blue1" data-radius="none">
                        <div class="content">
                            <img src="/images/mainboard/flower-sqr.png" class="card-img-top" alt="card image">
                            <p class="description"></p>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="card-footer bg-transparent text-muted small pt-0 border-top-0 px-0">
                    <i class="material-icons" style="font-size: 2vh"> account_circle</i> notext <i class="material-icons" style="font-size: 2vh"> mail </i> notext@connect.ust.hk
                </div>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 content-card">
              <div class="card-big-shadow">
                  <div class="card" data-background="color" data-color="blue2" data-radius="none">
                      <div class="content">
                          <img src="/images/mainboard/cat.jpg" class="card-img-top" alt="card image">
                          <p class="description">Here will be the content of the card.
                            Here will be the content of the card. </p>  
                      </div>
                  </div> <!-- end card -->
                </div>
          </div>
          
        
          <div class="col-lg-3 col-md-3 col-sm-3 content-card">
                <div class="card-big-shadow">
                    <div class="card" data-background="color" data-color="green" data-radius="none">
                        <div class="content">
                            <p class="description">The cat (Felis catus) is a domestic species of a small carnivorous mammal.[1][2] It is the only domesticated species in the family Felidae and is often referred to as the domestic cat to distinguish it from the wild members of the family.[4] </p>
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>

          </div>
        </div>

      </div>
      </div>

  </body>
  
</html>