<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="/css/postit.css" rel="stylesheet">
    <title>Message Wall</title>
    <link href="/css/postboard.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/admin/logo.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
</head>

<body style="background-image: url(/images/<%= data.background_img %>);">
    <div class="board-header">
        <div class="board-title" style="color: <%= data.title_color %>">
            <%= data.title %>
        </div>
        <!-- <div class="board-description">This is a sample description for a board.</div> -->
    </div>

    <div class="container">
        <div id="board" class="post-board">
            <div id="-1" class="paper yellow" style="top: 40%; left: 27%; z-index: 100000; height: 40vh; width: 30vh;">
                <div class="message-content">
                    <div class="upper-part">
                        <!--div class="left-half">
                            <img class="message-img" src="/images/posts/a8cb849803b23f6ed48fb4bf14b8585e">
                        </div-->
                        <div class="entire">
                            <p class="card-text">Test</p>
                        </div>
                    </div>
                    <div class="card-footer lower-part">
                        <i class="material-icons" style="font-size: 1.5vh; margin-right:1vh">
                            account_circle</i>LL
                    </div>
                </div>
            </div>
        </div>
        <div class="board-title bottom" style="color: <%= data.title_color %>; text-align: left; padding-left: 1vw;">
            <img src="/images/qr.png" style="display: inline-block; height: 20vh; z-index: 10; position: relative;">
        </div>
    </div>
    <script src="/javascripts/postit.js" type="module"></script>
    <script src="/javascripts/textFit.js"></script>
    <script>
        textFit(document.getElementsByClassName('card-text'));
    </script>
</body>

</html>