
@font-face {
    font-family: 'DosisLight';
    src: url('Dosis-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
}

:root{
  --msg1: white;
  --msg2: white;
  --msg3: white;
  --msg4: white;
  --msg5: white;
  --msg-text: black;
}

/* Preview Window */

.body{
    overflow:-moz-hidden-unscrollable;
}

.preview{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Message Body */

.card-text {
  color: var(--msg-text);
  margin-right: 3%;
  margin-top: 3%;
  width: 97%;
  height: 97%;
  font-size: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.icon{
  margin-right: 10px;
}

.card-footer {
  color: var(--msg-text);;
  font-size: 9px;
  padding: 0;
  padding-left: 5%;
  max-height: inherit;
  text-align: left;
  background-color: transparent;
}

/* Message Previews */

.card1{
  --paper-color: var(--msg1);
  --paper-dark: var(--msg1);
  background-color: var(--msg1) !important; 
  top: 55vh;
  left:35vw;
}
.card2{
  --paper-color: var(--msg2);
  --paper-dark: var(--msg2);
  background-color: var(--msg2) !important; 
  top: 30vh;
  left: 30vw;
}

.card3{
  --paper-color: var(--msg3);
  --paper-dark: var(--msg3);
  background-color: var(--msg3) !important; 
  top: 45vh;
  left: 47vw;
}

.card4{
  --paper-color: var(--msg4);
  --paper-dark: var(--msg4);
  background-color: var(--msg4) !important; 
  top: 27vh;
  left: 65vw;
}

.card5{
  --paper-color: var(--msg5);
  --paper-dark: var(--msg5);
  background-color: var(--msg5) !important; 
  top: 63vh;
  left: 60vw;
}

