.img-inside-button {
    /* max-height: calc(100% - 3rem); */
    max-width: calc(100% - 3rem);
    max-height:calc(100% - 3rem);
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.floating-button{
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fefefe;
  border: solid;
  border-radius: 50%;
  border-color: red;
  border-width: 1px;
  right: 5vh;
  bottom: 5vh;
  margin: auto;
  color: rgb(255, 0, 0);
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(240, 44, 44, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.board{
    padding: 20px;
    border-radius: 10px;
}

.board.select:hover{
    background:rgb(152, 152, 152);
    z-index:10;
}


.floating-button:hover, 
.floating-button.is-active {
    box-shadow: 0 10px 25px rgba(240, 44, 44, 0.6);
    background-color: red;
    color: white;
    -webkit-transform: translatey(5px);
            transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }


.thumbnail{
    padding:20px;
    max-width: 20vw;
    max-height: 25vh;
    width:20vw;
    height:25vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    z-index:-10;
}

.modal-body .post-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#signout{
    margin-right: 20px;
    padding:12px;
    background-color: #afafaf;
    color:#ffffff;
    border-style:initial;
    text-decoration: none;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#page_title {
    color:rgb(85, 85, 85);
    font-weight:lighter;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    #page_title span {  
      display: none;
    }
}

.child{
    text-align:center;
}

.vertical-center{
    display: flex;
    align-items:center;
}

.approve .approve-overlay {
    background: rgba(67, 67, 67, 0.9);
    position: absolute;
    height: 15%;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.approve:hover .approve-overlay {
    opacity: 1
}

.approve-btn {
    outline: none;
    border: 0px; 
    box-sizing: none; 
    background-color: transparent; 
 }


.approve {
    position: relative;
    width: 100%;
    bottom:0;
    height:91%;
    overflow: hidden
}

.approve-details {
    position: absolute;
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(50%, 50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.approve:hover .approve-details {
    top: 92%;
    opacity: 1
}

.approve-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.approve-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}

.card {
    background-color: rgba(255, 255, 255, 0.907);
    width: 25vw;
    height: 30vh;
    box-shadow: 5px 5px 5px 5px #0000006a, 0 0 0 1px #ffffff00;
    border-radius: 0.5vw;
    top: 30%;
    padding: 5vh;
}

.card-bg {
    background-color: rgba(255, 255, 255, 0.856);
    height: 30vh;
    width: 30vw;
    padding: 1.5vh;
    border-radius: 0.5vw;
    box-shadow: 5px 5px 5px 5px #0000006a, 0 0 0 1px #ffffff00;
    animation-name: animation-md;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.card-md {
    background-color: rgba(255, 255, 255, 0.856);
    height: 20vh;
    width: 20vw;
    padding: 1.5vh;
    border-radius: 0.5vw;
    box-shadow: 5px 5px 5px 5px #0000006a, 0 0 0 1px #ffffff00;
    animation-name: animation-md;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.card-sm {
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 0.5vw;
    height: 25vh;
    width: 25vw;
    padding: 1.5vh;
    box-shadow: 5px 5px 5px 5px #0000006a, 0 0 0 1px #ffffff00;
    animation-name: animation-sm;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.card-img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    object-fit: contain;
    margin-left: 1vh;
    margin: auto;
    /* border: 0.1vh grey solid; */
}

.card-body {
    font-size: 1.5vh;
    height: 100%;
}

.card-footer {
    height: 20%;
    font-size: 1.5vh;
    text-align: left;
    background-color: transparent;
}

.upper-part {
    height: 85%;
}

.lower-part {
    height: 15%;
}