
@font-face {
    font-family: 'DosisLight';
    src: url('Dosis-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.body{
    overflow:-moz-hidden-unscrollable;
}

.preview{
    background-image: url("../images/mainboard/corkboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    height: 10vh;
    font-family: 'DosisLight';
    font-size: 6vh; 
    text-align: center; 
    color: #ffffff;
}

:root {
    --pink: #ffdce1;
    --pink-dark: #f82e498e;
    --board-pin: rgb(255, 98, 0);
    --board-pin-highlight: rgb(255, 198, 163);
    --tape-gray: #dbd8be;
    --tape-edge-gray: #b7b49d;
    --transparent: rgba(255, 255, 255, 0);
  }
  
  
  
  @font-face {
    font-family: 'HaeresRegular';
    src: url('/resources/HaeresRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @keyframes fall {
    0% {opacity: 1.0; transform: translateY(0%);}
    
    100% {opacity: 0; transform: translateY(200%);}
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(-1.5deg);
    }
    50% {
      transform: rotate(1.5deg);
    }
    100%{
      transform: rotate(-1.5deg);
    }
  }
  
  .pink {
    --paper-color: var(--pink);
    --paper-dark: var(--pink-dark);
    --shadow-size: 3px;
    --transparent: rgba(236, 178, 186, 0);
    width: 30vw;
    height: 30vh;
    top: 50vh;
    left: 55vw;
  }
  
  .green {
    --paper-color: #eafce6;
    --paper-dark: #3de459be;
    --shadow-size: 3px;
    --transparent: rgba(213, 224, 249, 0);
    width: 30vw;
    height: 30vh;
    left: 30vw;
  }

  .paper {
    position: fixed;
    background: linear-gradient(
        to bottom right,
        var(--paper-dark),
        5%,
        var(--transparent)
      ),
      var(--paper-color);
    min-width: 250px;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-size: 2rem;
    box-shadow: var(--shadow-size) var(--shadow-size) 3px rgba(0, 0, 0, 0.427);
    margin-top: 5vh;
    margin-left: 5vh;
  }

  .animate{
    animation: rotation 16s infinite; 
    animation-fill-mode: forwards;
  }
  
  .top-tape {
    position: absolute;
    height: 4vmin;
    top: -5px;
    width: 110%;
    background-color: var(--tape-gray);
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
  }
  
  .pin_red{
    --board-pin: rgb(255, 0, 0);
    --board-pin-highlight: rgb(255, 246, 179);
  
  }
  .pin_yellow{
    --board-pin: yellow;
    --board-pin-highlight: rgb(255, 246, 179);
  }
  
  .pin_green{
    --board-pin: green;
    --board-pin-highlight: rgb(232, 255, 183);
  }
  .pin_blue{
    --board-pin: blue;
    --board-pin-highlight: rgb(179, 255, 250);
  }
  .pin_white{
    --board-pin: rgb(229, 229, 229);
    --board-pin-highlight: rgb(255, 255, 255);
  }
  
  .top-pin{
    position: absolute;
    box-shadow: var(--shadow-size) var(--shadow-size) 2px rgba(0, 0, 0, 0.427);
    height: 1.8vh;
    top: -5px;
    width: 1.8vh;
    background-color: var(--board-pin);
    border: 0.1vh solid rgba(255, 208, 0, 0.587);
    border-radius: 50%;
  }
  
  .top-pin-head{
    position: absolute;
    box-shadow: var(--shadow-size) var(--shadow-size) 2px rgba(0, 0, 0, 0.427);
    height: 1.5vh;
    top: -3px;
    width: 1.5vh;
    background-color: var(--board-pin);
    border-radius: 50%;
  }

  .form-check{
    margin-left: 20px;
  }
  
  .top-pin-highlight{
      position: absolute;
      left: 0.2vh;
      top: 0.2vh;
      background: white;
      border-radius: 50%;
      height:0.6vh;
      width: 0.6vh;
      filter: blur(1px);
      opacity: 0.8;
  }
  
  .message-content{
    overflow: hidden;
    font-family: 'Verdana';
  }
  
  .card-img {
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    padding-bottom: 1vh;
    transform: translateY(-50%);
    padding-right: 1vh;
    object-fit: contain;
    /* border: 0.1vh grey solid; */
  }
  
  @media only screen and (max-width: 1000px) {
    .card-footer {
        height: 100%;
        font-size: 1vw;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
  }
  @media only screen and (min-width: 1000px){
  .card-footer {
    height: 100%;
    font-size: 1.5vh;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  }
  
  .left-half{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 100%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top:2%
  }
  
  .right-half{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 100%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top:2%
  }
  
  .message-img{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  
  }
  
  .upper-part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
  }
  
  .lower-part {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5vh;
  }
  
  .card-text {
    margin-right: 3%;
    margin-top: 3%;
    width: 97%;
    height: 97%;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }