/* Card Layout */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Fonts for Body */
/* Sans Serif */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
/* Handwritten */
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@font-face {
    font-family: memo2self;
    src: url(/fonts/memo2self.ttf);
}

.card {
    background-color: rgba(255, 202, 202, 0.907);
    background-size: contain;
    box-shadow: 7px 7px 5px -3px #0000005d;
    border-radius: 1vh;
    padding: 3vh;
    min-width: 150px !important;
    min-height: 97.5px !important;
    animation-name: animation-board;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bg {
    width: 60vh;
    height: 39vh;
}

.md {
    width: 50vh;
    height: 32.5vh;
}

.sm {
    width: 40vh;
    height: 26vh;
}

.msg-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'memo2self';

}

.msg-half {
    width: 50% !important;
    object-fit: contain;
}

.msg-img {
    display: block;
    box-shadow: 0.5vh 1vh 1vh -0.7vh #00000060;
    max-width: 100%;
    max-height: 100%;
}

.msg-text {
    max-height: 100%;
    width:100%;
    padding-left: min(0.7vw, 3vh, 10px);
    object-fit: contain;
    overflow: hidden;
    word-wrap: break-word;
}

.msg{
    padding-left : min(1.0vw, 5vh, 6px);
    height: 100%;
    max-height:100%;
    font-size: 12vh;
}

.msg-full{
    padding : min(1.5vw, 8vh, 12px);
    object-fit: contain;
    overflow: hidden;
    max-height: 100%;
    width:100%;
    word-wrap: break-word;
}

@keyframes animation-board {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(150vw));
    }
}
/* End card layout */