@font-face {
    font-family: 'DosisLight';
    src: url('/fonts/Dosis-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding:0;
    /* background-image: url("/resources/corkboard.jpg"); */
    background-position:center;
    background-repeat:no-repeat;
    overflow: hidden;
    background-size:cover;
    
}

.container{
    top: 0;
    /* height: calc(100% - 20vh); */
    height: 100%;
    width: calc(100% - 3vh);
    margin: 1.5vh;
    
}
.board-header{
    height: 15vh;
    margin-top: 2vh;
}
.board-description{
    height:5vh;
    text-align: center;
}
.board-title{
    height: 10vh;
    font-family: 'DosisLight';
    font-size: 6vh; 
    color: white; 
    text-align: center; 
}
.bottom {
    position:absolute; 
    bottom: 11vh; 
    margin-left: auto; 
    margin-right: auto; 
    left: 0; 
    right: 3vw; 
    text-align: right; 
    
}
