@font-face {
    font-family: 'DosisLight';
    src: url('Dosis-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
}
/* Card Layout */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Fonts for Body */
/* Sans Serif */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
/* Handwritten */
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@font-face {
    font-family: memo2self;
    src: url(/fonts/memo2self.ttf);
}

.bg-img {
    background-color: transparent;
    background-size: contain;
    box-shadow: none;
    border-radius: 0.5vh;
    padding: 3vh;
    position: absolute;
    width: 40vh;
    height: 44vh;
}
/*
.card {
    background-color: transparent;
    background-size: contain;
    box-shadow: 7px 7px 5px -3px #0000005d;
    border-radius: 0.5vh;
    padding: 3vh;
    position:absolute;
    min-width: 150px !important;
    min-height: 97.5px !important;
}

.card1{
    background-color: transparent !important; 
    top: 30vh;
    left: 5vw;
  }
.card2{
    background-color: transparent !important; 
    top: 20vh;
    left: 12vw;
}

.card3{
    background-color: transparent !important; 
    top: 37vh;
    left: 25vw;
}

.card4{
    background-color: transparent !important; 
    top: 24vh;
    left: 40vw;
}

.card5{
    background-color: transparent !important; 
    top: 55vh;
    left: 45vw;
}
  
*/
.bg-img1{
    top: 30vh;
    left: 5vw;
}
.bg-img2{
    top: 0vh;
    left: 12vw;
}
.bg-img3{
    top: 17vh;
    left: 25vw;
}
.bg-img4{
    top: 4vh;
    left: 40vw;
}
.bg-img5{
    top: 35vh;
    left: 45vw;
}
  

.bg-img-rabbit{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 100%; 
    background-image:url(/images/mainboard/newyear_rabbit.png); 
}

.fly{
    animation: animation-preview 10s infinite linear;
}

.post-preview {
    width: 60vh;
    height: 34vh;
}

.board-preview {
    width: 40vh;
    height: 26vh;
}

.msg-body {
    height: 38%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'memo2self';
}

.msg-top {
    height: 62%; 
}
/*
.msg-img {
    display: block;
    box-shadow: 0.5vh 1vh 1vh -0.7vh #00000060;
    max-width: 100%;
    max-height: 100%;
}

.msg-text {
    max-height: 100%;
    width:100%;
    padding-left: min(0.7vw, 3vh, 10px);
    object-fit: contain;
    overflow: hidden;
    word-wrap: break-word;
}
*/
.msg{
    padding-left : min(1.0vw, 5vh, 6px);
    object-fit: contain;
    overflow: hidden;
    color: var(--msg-text);
    max-height:100%;
    font-size: 1.5vh;
}

.msg-full{
    padding : min(1.0vw, 5vh, 6px);
    object-fit: contain;
    overflow: hidden;
    color: var(--msg-text);
    max-height:100%;
    font-size: 1.5vh;
}

/* End card layout */

@keyframes animation-preview {
  0% {
      transform: translateX(0);
      opacity: 0;
  }
  10%, 85% {
    opacity:1;
  }

  95%{
    opacity: 0;
  }

  100% {
    opacity:0;
    transform: translateX(10vw);
  }
}
